* {
	margin: 0;
	padding: 0;
}
.miContainer {
	width: 75%;
}
.nav a img {
	width: 20%;
}
.nav ul {
	margin-top: 4%; 
}
#registrate {
	background-color: #6F7E9D;
	color: #FFF;
}
#registrate:hover {
	background-color: #5F6B84;
	color: #FFF;
}
#login {
	background-color: transparent;
	font-size: 1.3em;
}
#login:hover {
	background-color: transparent;
	font-size: 1.3em;
	color: #9AB554;
}
header {
	position: absolute;
	height: auto;
	width: inherit;
}
.banner {
	top: 200px;
	width: 100%;
	height: 50%;
	margin: auto;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/02.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#headText {
	position: relative;
	top: 50%;
}
#headText span {
	margin: auto;
	padding: 20px;
	border: 2px solid #FFF;
	font-size: 3.5em;
	text-transform: uppercase;
}
.categorias h5{
	text-align: center;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
}
.categorias ul {
	width: 100%;
	margin-top: 10% !important;
}
.categorias ul li {
	list-style: none;
	font-size: 1.5em;
	padding: 10px 0;
	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
}
.categorias ul li a {
	text-decoration: none;
	color: #000;
}
.project {
    margin-bottom: 30px;
    vertical-align: top;
    margin-right: 30px;
    float: left;
    cursor: pointer;
    width:100%;
}

.project figure {
    position: relative;
    display: inline-block;
    width: inherit;
	height: 356px;
	/*overflow: hidden;*/
}
.project figure img {
    width: 100%;
    height: 100%;
}
.project figure .actions {
    display: table-cell;
    position: absolute;
    bottom: 0px;
    top: 60%;
    left:0;
    right:0;
    z-index: 1;
    opacity: 1;
    background-color: rgba(29,29,29,.5);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color:#fff;
    font-size:2em;
    padding:2%;
    font-weight:400;
    text-align:center;
    vertical-align: middle;
}
.margen {
	color: #C4E765;
	margin-top: 50px;
	font-size: 0.8em;
	text-align: left;
}
.descripcion {
	text-align: left;
	font-size: .5em;
	display: block;
	width: 350px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.filterEmpty {
	background-color: #CECECE;
	font-size: 1.5em;
	border-radius: 5px;
}